<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <p> <%= resposta %></p>

  <a href="/gerencia/login_g.html">Voltar para pagina de Usuario</a>
  <a href="/gerencia/gerencia_carros.html">Verificar e Manipular Listagem de Carros</a>
  
</body>
</html>