<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <p> <%= resposta %></p>

  <a href="/gerencia/cadastro_carro.html">Voltar</a>
  
</body>
</html>